.desc {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1.26px;
  color: rgb(255, 255, 255);
  margin-bottom: -5px;
}

.title {
  position: relative;
}

.line {
  color: rgb(255, 172, 18);
  border-top: 4px solid;
  width: 169px;
  border-radius: 2px;
  // background: linear-gradient(90deg, rgb(255, 172, 18), rgb(0, 0, 0) 94.964%);(не работает)
  position: absolute;
  top: 28%;
  left: 33%;
}
