.container {
  display: flex;
  justify-content: center;
  max-width: 1070px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.form {
  width: 300px;
  background: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  padding: 70px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.input {
  margin-bottom: 37px;
  font-size: 18px;
}

.logout {
  display: flex;
  align-items: flex-start;
}
