@import '/src/breakpoints.scss';

.wallLink {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 76px;
  gap: 1px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.13);
  border-radius: 25px 0px 0px 25px;
  border-color: rgb(228, 228, 228);
  width: 266px;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.13);
  border-color: rgb(228, 228, 228);
  width: 266px;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.cardSecondary {
  border-radius: 0px 25px 25px 0px;
}

.span {
  font-size: 17px;
  font-weight: 700;

  @include breakpoint(xs) {
    font-size: 13px;
  }
}
