// .wrapperForm {
//   width: 100%;
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-bottom: 37px;
  font-size: 18px;
}

.close {
  color: rgb(255, 172, 18);
}

.btnClose {
  display: flex;
  flex-direction: column;
}
