@import '/src/breakpoints.scss';

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.desc {
  margin-bottom: 16px;
}

@include breakpoint(md) {
  .text {
    font-size: 19px;
  }
}
