.btn {
  border-radius: 35px;
  width: fit-content;
  background-color: rgb(255, 172, 18);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 14px 55px 14px 40px;
}

.btn:hover {
  opacity: 0.8;
}

.dark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.light {
  background-color: rgb(255, 172, 18);
  color: rgb(0, 0, 0);
}

.gray {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.large {
  min-width: 209px;
  height: 70px;
}

.medium {
  min-width: 211px;
  height: 50px;
}

.form {
  min-width: 288px;
  height: 40px;
}

.logout {
  height: 40px;
  font-size: 13px;
}
