@import '/src/breakpoints.scss';

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;

  @include breakpoint(md) {
    font-size: 19px;
  }

  @include breakpoint(xs) {
    font-size: 16px;
  }
}

.white {
  color: rgb(255, 255, 255);
}

.gray {
  color: #a9a9a9;
}

.black {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;

  @include breakpoint(md) {
    font-size: 19px;
  }

  @include breakpoint(xs) {
    font-size: 16px;
  }
}
