@import '/src/breakpoints.scss';

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: rgb(0, 0, 0);
  opacity: 0.6;

  @include breakpoint(md) {
    font-size: 19px;
  }

  @include breakpoint(xs) {
    font-size: 16px;
  }
}

.gray {
  max-width: 428px;
  color: rgb(255, 255, 255);
  padding: 0 16px;

  @include breakpoint(md) {
    font-size: 19px;
  }

  @include breakpoint(xs) {
    font-size: 16px;
  }
}

.black {
  max-width: 336px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;

  @include breakpoint(md) {
    font-size: 19px;
  }

  @include breakpoint(xs) {
    font-size: 16px;
  }
}
