@import '/src/breakpoints.scss';

.wallSection {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;

  @include breakpoint(md) {
    flex-direction: column;
    align-items: center;
  }

  @include breakpoint(xs) {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.contentImg {
  width: 704px;

  @include breakpoint(xs) {
    width: 480px;
  }
}

.wrapper {
  padding: 16px;
}

.contentImg2 {
  width: 704px;
  border-radius: 57px 0px 0px 0px;

  @include breakpoint(xs) {
    width: 530px;
  }
}

.wallContainer {
  background-color: rgb(245, 245, 245);
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.wallPlace {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

.postContainer {
  background: linear-gradient(225deg, rgb(39, 26, 0) 32.003%, rgba(0, 0, 0, 0.98) 132.603%);
}

.postSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 475px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.avatarSection {
  max-width: 1070px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(xs) {
    padding: 16px;
  }
}

.avatar {
  display: flex;
  padding-bottom: 100px;

  @include breakpoint(md) {
    flex-direction: column;
    gap: 30px;
  }

  @include breakpoint(xs) {
    padding: 16px;
  }
}

.avatarText {
  max-width: 1070px;
  display: flex;
  justify-content: center;
  padding-top: 100px;

  @include breakpoint(xs) {
    padding-top: 50px;
  }
}

.orangeArrow {
  color: rgb(255, 172, 18);
}

.whiteArrow {
  color: rgb(255, 255, 255);
}

@include breakpoint(md) {
  .flexSection {
    flex-direction: column-reverse;
  }
}

.title {
  padding-bottom: 20px;
}

.text {
  padding-bottom: 20px;
}
