@import '/src/breakpoints.scss';

// main {
//   max-width: 1070px;
//   margin: 0 auto;
//   padding: 0 16px;
// }

.wallSection {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;

  @include breakpoint(md) {
    flex-direction: column;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.contentImg {
  width: 704px;
  height: 657px;

  @include breakpoint(xs) {
    width: 480px;
  }
}

.contentImg2 {
  width: 704px;
  height: 657px;
  border-radius: 57px 0px 0px 0px;

  @include breakpoint(xs) {
    width: 480px;
  }
}

.wallContainer {
  background-color: rgb(245, 245, 245);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 222px;
}

.wallPlace {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

.text {
  max-width: 475px;
}

.postContainer {
  background: linear-gradient(225deg, rgb(39, 26, 0) 32.003%, rgba(0, 0, 0, 0.98) 132.603%);
  height: 674px;
  margin-top: 150px;
}

.postSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 674px;
  max-width: 475px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}

.avatarSection {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 630px;
}

@include breakpoint(md) {
  .flexSection {
    flex-direction: column-reverse;
  }
}

.orangeArrow {
  color: rgb(255, 172, 18);
}

.whiteArrow {
  color: rgb(255, 255, 255);
}

.background {
  border-radius: 0px 18px 0px 0px;
  width: fit-content;
  min-width: 209px;
  height: 70px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 25px;
}

.foot {
  background-color: rgb(255, 172, 18);
  color: rgb(0, 0, 0);
}
