@import '/src/breakpoints.scss';

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: rgb(0, 0, 0);
  opacity: 0.6;

  @include breakpoint(md) {
    font-size: 19px;
  }

  @include breakpoint(xs) {
    font-size: 16px;
  }
}
