.wrapper {
  display: flex;
  justify-content: center;
  margin: 150px;
}

.tab {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
