.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

@media (max-width: 630px) {
  .text {
    font-size: 18px;
  }
}
