@import '/src/breakpoints.scss';

.card {
  border-radius: 20px;
  box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
}

.wallCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 15px;
  padding-left: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 42px;
}

.Icon {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 700;
  gap: 9px;
}

.num {
  font-size: 17px;
  font-weight: 700;
}
