@import '/src/breakpoints.scss';

.wallCard {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
}

.img {
  border-radius: 25px 25px 0px 0px;
  width: 336px;
  height: 266px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding: 30px;

  @include breakpoint(sm) {
    font-size: 20px;
  }
}

.iconSvg {
  display: flex;
  justify-content: center;
  gap: 76px;
  padding: 20px;
}

.icon {
  display: flex;
  gap: 9px;
}

.iconNum {
  font-size: 17px;
  font-weight: 700;
}
