@import '/src/breakpoints.scss';

.title {
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -1.26px;
}

.h1 {
  font-size: 80px;

  @include breakpoint(md) {
    font-size: 60px;
  }

  @include breakpoint(sm) {
    font-size: 50px;
  }

  @include breakpoint(xs) {
    font-size: 30px;
  }
}

.h2 {
  font-size: 50px;

  @include breakpoint(md) {
    font-size: 50px;
  }

  @include breakpoint(sm) {
    font-size: 45px;
  }

  @include breakpoint(xs) {
    font-size: 30px;
  }
}

.h3 {
  font-size: 42px;

  @include breakpoint(md) {
    font-size: 33px;
  }

  @include breakpoint(sm) {
    font-size: 25px;
  }

  @include breakpoint(xs) {
    font-size: 20px;
  }
}

.h4 {
  font-size: 15px;

  @include breakpoint(md) {
    font-size: 13px;
  }

  @include breakpoint(sm) {
    font-size: 12px;
  }
}

.black {
  color: rgb(0, 0, 0);
}

.white {
  color: rgb(255, 255, 255);
}
