.wallCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.wallSection {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.contentImg {
  width: 704px;
  height: 657px;
}
