.wallCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.wallSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

.contentImg {
  width: 704px;
  height: 657px;
}

.contentImg2 {
  position: absolute;
  width: 704px;
  height: 657px;
  border-radius: 57px 0px 0px 0px;
  left: 49%;
  top: -48%;
}

.wallContainer {
  background-color: rgb(245, 245, 245);
  height: 1717px;
  padding-top: 138px;
  margin-top: -138px;
}

.wallPlace {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

.text {
  max-width: 475px;
}

.postContainer {
  background: linear-gradient(225deg, rgb(39, 26, 0) 32.003%, rgba(0, 0, 0, 0.98) 132.603%);
  height: 674px;
  margin-top: 150px;
}

.postSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 674px;
  max-width: 475px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}
