.button {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 0px 18px 0px 0px;
  width: fit-content;
  min-width: 200px;
  height: 70px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
}

.endArrow {
  margin-left: 5px;
  color: rgb(255, 172, 18);
}

.btn:hover {
  opacity: 0.8;
}
