.button {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 0px 18px 0px 0px;
  width: fit-content;
  min-width: 211px;
  height: 70px;
  background-color: rgb(255, 172, 18);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 14px 55px 14px 40px;
}

.btn:hover {
  opacity: 0.8;
}

.dark {
  color: red
}