.navBar {
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.fixed {
  width: 100%;
  background: linear-gradient(225deg, rgb(39, 26, 0) 37.091%, rgba(0, 0, 0, 0.98) 82.193%);
  transition: 0.2s ease-in-out;
  padding-bottom: 15px;
  z-index: 7;
}

.navList {
  display: flex;
  text-align: center;
  gap: 60px;
  padding-right: 60px;
}

.img {
  height: 16px;
  padding-right: 200px;
  padding-left: 9.6px;
}

.navLink {
  text-decoration: none;
  list-style: none;
}

.navItem {
  color: #fff;
  text-decoration: none;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .img {
    height: 15px;
  }

  .navList {
    gap: 30px;
  }

  .navItem {
    font-size: 12px;
  }

  .fixed {
    padding: 0 16px;
    min-height: 100px;
  }
}

@media (max-width: 640px) {
  .navBar {
    padding-left: 20px;
  }

  .img {
    padding-right: 50px;
    height: 13px;
  }
}
