@import '/src/breakpoints.scss';
.header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.fixedHeader {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.6s ease-in-out;
}

.navBar {
  margin: 0 auto;
  padding: 16px;
  max-width: 1070px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  text-align: center;
  gap: 24px;
  padding: 8px;
  align-items: center;

  @include breakpoint(md) {
    gap: 16px;
  }

  @include breakpoint(sm) {
    gap: 16px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 9.6px;
}

.img {
  height: 16px;

  @include breakpoint(md) {
    height: 15px;
  }

  @include breakpoint(sm) {
    height: 13px;
  }

  @include breakpoint(xs) {
    height: 11px;
  }
}

.navLink {
  text-decoration: none;
  list-style: none;
}

.navItem {
  color: #fff;
  text-decoration: none;

  @include breakpoint(md) {
    font-size: 12px;
  }
}

.iosBtn {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.endArrow {
  margin-left: 5px;
  color: rgb(255, 255, 255);
}
