.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
}

.navList {
  display: flex;
  text-align: center;
  gap: 60px;
  margin-right: -134px;
}

.navBar {
  display: flex;
}

.logo {
  margin-right: -177px;
  margin-left: -14px;
}

.navLink {
  text-decoration: none;
  list-style: none;
}

.navItem {
  color: #fff;
  text-decoration: none;
}
