@import '/src/breakpoints.scss';
.header {
  width: 100%;
  top: 0;
  position: fixed;
}

.navBar {
  height: 80px;
  margin: 0 auto;
  max-width: 1070px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}

.fixed {
  width: 100%;
  // background: linear-gradient(225deg, rgb(39, 26, 0) 37.091%, rgba(0, 0, 0, 0.98) 82.193%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in-out;
  padding-bottom: 15px;
  z-index: 7;
  height: 80px;

  @include breakpoint(md) {
    padding: 0 16px;
    min-height: 100px;
  }
}

.navList {
  display: flex;
  text-align: center;
  gap: 60px;
  align-items: center;

  @include breakpoint(md) {
    gap: 30px;
  }

  @include breakpoint(sm) {
    gap: 30px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 9.6px;
}

.img {
  height: 16px;

  @include breakpoint(md) {
    height: 15px;
  }

  @include breakpoint(sm) {
    height: 13px;
  }
}

.navLink {
  text-decoration: none;
  list-style: none;
}

.navItem {
  color: #fff;
  text-decoration: none;

  @include breakpoint(md) {
    font-size: 12px;
  }
}

.iosBtn {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
