@import '/src/breakpoints.scss';

.footBar {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

.footMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
  padding-bottom: 40px;
  padding-top: 80px;
}

.footText {
  display: flex;
  align-items: center;
  gap: 14px;
}

.footBtn {
  display: flex;
}

.iosBtn {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -1.06px;

  @include breakpoint(md) {
    font-size: 33px;
  }

  @include breakpoint(sm) {
    font-size: 25px;
  }

  @include breakpoint(xs) {
    font-size: 20px;
  }
}

.span {
  color: rgb(255, 172, 18);
  font-size: 42px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -1.06px;
  margin-right: 307px;

  @include breakpoint(md) {
    font-size: 33px;
  }

  @include breakpoint(sm) {
    font-size: 25px;
  }

  @include breakpoint(xs) {
    font-size: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 9.6px;
}

.img {
  height: 16px;

  @include breakpoint(sm) {
    height: 13px;
  }
}

.social {
  display: flex;
  gap: 28px;
  color: #fff;

  @include breakpoint(sm) {
    gap: 20px;
  }

  @include breakpoint(xs) {
    gap: 16px;
  }
}

.columnLink {
  display: flex;
  justify-content: end;
  gap: 121px;
  text-align: center;

  @include breakpoint(sm) {
    gap: 20px;
  }

  @include breakpoint(xs) {
    gap: 2px;
  }
}

.footLink {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
}

.footLogo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.whiteArrow {
  color: #fff;
}

.orange {
  height: 50px;
}

.container {
  display: flex;
  text-align: start;
  gap: 10px;
}

.footList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.navLink {
  text-decoration: none;
  list-style: none;
}

.navItem {
  color: rgb(151, 151, 151);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.38px;

  @include breakpoint(sm) {
    font-size: 13px;
  }
}

.titleLink {
  font-size: 15px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -0.38px;
  color: rgb(255, 255, 255);

  @include breakpoint(sm) {
    font-size: 12px;
  }
}
