.footBar {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

.footText {
  display: flex;
  align-items: center;
  gap: 14px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
  padding-bottom: 40px;
  padding-top: 80px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -1.06px;
}

.span {
  color: rgb(255, 172, 18);
  font-size: 42px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -1.06px;
  margin-right: 307px;
}

.logo {
  margin-top: 68px;
  display: flex;
  align-items: center;
  gap: 9.6px;
  margin-bottom: 34px;
}

.img {
  height: 16px;
}

.social {
  display: flex;
  gap: 28px;
  color: #fff;
}

.columnLink {
  display: flex;
  justify-content: end;
  gap: 159px;
  text-align: center;
  margin-top: -107px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 33px;
  }

  .span {
    font-size: 33px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 25px;
  }

  .span {
    margin-right: 50px;
    font-size: 25px;
  }

  .columnLink {
    display: flex;
    gap: 40px;
  }

  .img {
    height: 13px;
  }
}
