.text {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.post {
  position: relative;
  margin-bottom: 60px;
}

.line {
  color: rgb(255, 172, 18);
  border-top: 4px solid;
  width: 336px;
  border-radius: 2px;
  // background: linear-gradient(90deg, rgb(255, 172, 18), rgb(0, 0, 0) 94.964%);(не работает)
  position: absolute;
  top: -26%;
  left: 35%;
}
