@import '/src/breakpoints.scss';

.banner {
  background-image: url(../../../assets/Main.png);
  width: 100%;
  height: 982px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
  margin-bottom: 150px;
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 0 auto;
}

.sectionHeader {
  max-width: 1070px;
  padding-top: 200px;
  margin: 0 auto;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2.01px;
  max-width: 519px;
  padding: 0 16px;
}

.desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  max-width: 428px;
  padding: 0 16px;
}

@include breakpoint(md) {
  .title {
    font-size: 72px;
    padding: 0 16px;
  }

  .desc {
    font-size: 18px;
    padding: 0 16px;
  }
}
